*{
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'NanumSquare';
}

body{
    background: linear-gradient(to bottom right, #fbfbfb ,#bcc1c7);
    min-height: 100vh;
}

.page-outer {
    margin: 75px auto;
    max-width: 1512px;
    width: 100%;
    background-color: #F7F7F7;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

.head{
    background-color: #183840;
    background-image: radial-gradient(circle at 85% 85%, #2b6f69 5%,#183840 40%);
    height: 150px;
}

.icon{
    height: 150px;
    width: 80px;
    float: left;
}

.icon > i{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 18px;
    opacity: .8;
}

.sports{
    height: 150px;
    width: 120px;
    float: left;
    position: relative;
    transition: all .4s;
}

.sports.active{
    height: 170px;
    margin-top: -20px;
    background-color: white;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

.sports.active > .image{
    top: calc(15% + 20px);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.sports.active::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #c94445;
}

.sports.active::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #c94445;
}

.sports.active > .image::after{
    background-color: #c94445;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

.sports > .image{
    position: relative;
    top: 15%;
    background-color: white;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: all .4s;
}

.sports > .image > img{
    width: 100%;
    height: 100%;
}

.sports > .image::after{
    content: '';
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
}


@media (min-width: 1512px) {
    .page-outer {
        width: 90%;
    }
}

.color{
    height: 150px;
    background-color: #183840;
    background-image: radial-gradient(circle at 85% 85%, #2b6f69 5%,#183840 40%);
}

.color > .icon{
    width: 60px;
    height: 60px;
    background-color: #c94445;
    color: white;
}

.color > .title{
    color: white;
    float: left;
    font-size: 25px;
    font-weight: bold;
    height: 60px;
    line-height: 65px;
    margin-left: 30px;
    margin-right: 60px;
}

.head > .icon{
    width: 60px;
    height: 60px;
    background-color: #c94445;
    color: white;
}

.head > .title{
    color: white;
    float: left;
    font-size: 25px;
    font-weight: bold;
    height: 60px;
    line-height: 65px;
    margin-left: 30px;
    margin-right: 60px;
}
.shoes{
    height: 150px;
    width: 140px;
    float: left;
    position: relative;
    transition: all .4s;
    background-color: white;
    cursor: pointer;
}

.shoes.active{
    z-index: 10;
    height: 170px;
    margin-top: -20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.shoes.active::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #c94445;
}

.shoes.active::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #c94445;
}

.shoes > .image{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: all .4s;
}

.shoes > .image > img{
    width: 100%;
    height: 100%;
}